{% extends 'base.html.twig' %}

{% block title %}Wstaw Obraz{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-10">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}